page-home {



  ion-img{
   position: relative;
   top: 40px; left:55px;
          }

   #signIn{
  position: relative;
   top: 45px;
      }
  #register{
      position: relative;
      top: 65px;
         }
}
