page-loggedin {
  ion-img{
   position: relative;
   top: 40px; left:55px;
          }

#nuevo{
          position: relative;
          top: 25px;
             }
#nuevoR{
position: relative;
top: 35px;
   }

#salir{
    position: relative;
    top: 45px;
       }


}
